.persons-filter {
    .search-form {
        height: 359px;
        width: auto;
        background-image: url('../../assets/images/add-account/logotype.svg');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        @media #{$maxMobile} {
            height: 300px;
            background-image: url('../../assets/images/home/search.svg'); 
        }
        .form-control {
            width: 120px;
            height: 42px;
            margin: 10px 0;
            border: 1px solid #000;
            color: #000;
            padding: 5px 13px;
            font-size: 18px;
            font-weight: 500;
            box-shadow: none;
            outline: none;
            background: transparent;

            &::placeholder {
                color: #000;
            }

        }
    }

    a {
        display: inline-block;
        width: 25%;
        background-color: $themeColor;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 0;
        border-radius: 10px;
        @include prefixer(box-shadow, 0px 3px 10px #F5B400, webkit moz o ms);
        @include prefixer(transition, all 0.3s ease-in-out, webkit moz o ms);
        &:hover {
            color: #FFF;
        }
    }
}