.premium-card {
    .item {
        margin-bottom: 20px;
        h3 {
            font-weight: 700;
            margin: 20px 0;
        }

        .image-container {
            width: 100%;
            img {
                width: 100%;
            }
        }

        a {
            display: inline-block;
            position: relative;
            width: 100%;
            background-color: $themeColor;
            font-size: 20px;
            font-weight: 700;
            padding: 10px 0;
            border-radius: 10px;
            @include prefixer(box-shadow, 0px 3px 10px #F5B400, webkit moz o ms);
            @include prefixer(transition, all 0.3s ease-in-out, webkit moz o ms);
            &:hover {
                color: #FFF;
            }

            img {
                position: absolute;
                right: 15px;
                top: 17px;
                @media #{$maxMobile} {
                    top: 18px;  
                }
            }

            
        }

        &.last {
            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 273.5px;
                border: 1px solid $borderColor;
                border-radius: 10px;
                @media (max-width: 375px) {
                    height: 169px;
                }
                @media (min-width: 376px) and (max-width: 414px) {
                    height: 190px;
                }
                @media (min-width: 415px) and (max-width: 576px) {
                    height: 226.5px;
                }
                img {
                    width: auto;
                }
            }
        }
    }
}