.blog-page {
    background-color: $themeColor;
    text-align: center;
    padding: $smallPadding 0;

    @media #{$maxSmall} {
        padding-bottom: 0;

    }
    
    .heading-page {
        margin-bottom: $smallMargin;
        margin-top: $smallMargin;
        display: flex;

        img {
            position: relative;
            top: 5px;
            transform: rotate(180deg);
            @media #{$maxSmall} {
                width: 20px;
                height: 20px;
        
            }
        }

        h2 {
            margin-right: auto;
            margin-left: auto;
        }

        @media #{$minLarge} {
            h2 {
                font-size: 48px;
            }
    
        }
    }

    

    nav {
        margin: 35px 0;
        a {
            display: inline-block;
            width: 100%;
            height: 55px;
            line-height: 45px;
            font-size: 23px;
            font-weight: 500;
            border: 1.5px solid $borderColor;
            border-radius: 5px;
            margin-bottom: 14px;
            @include prefixer(transition, all 0.3s ease-in-out, webkit moz o ms);
            &.active,
            &:hover {
                background-color: #000;
                color: #FFF;
                border-color: #000;
            }
        }
    }

    .read-more {
        margin: $smallMargin 0;
        
        a {
            display: inline-block;
            width: 100px;
            height: 100px;
            line-height: 95px;
            background-color: #000;
            color: $themeColor;
            font-size: 20px;
            font-weight: 700;
            border-radius: 50%;
            @include prefixer(box-shadow, 0px 3px 10px #000, webkit moz o ms);
        }
    }

    .pages-controls {
        background-color: #000;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .container {
            display: flex;
            justify-content: space-between;
        }
        a {
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            
            &.active {
                opacity: 0.3;
            }
            &.hover:after {
                content: '';
                position: absolute;
                bottom: -8px;
                right: -5px;
                width: 11px;
                height: 2px;
                background-color: #FFF;
                border-radius: 2px;
                margin-top: 10px;
            }
            &.premium {
                color: #FF9900;
            }
        }
    }
}