.subscription {
    .heading-page {
        margin-bottom: $smallMargin;
        margin-top: $smallMargin;
        display: flex;

        img {
            position: relative;
            top: 5px;
            transform: rotate(180deg);
            @media #{$maxSmall} {
                width: 20px;
                height: 20px;
        
            }
        }

        h2 {
            margin-right: auto;
            margin-left: auto;
        }

        @media #{$minLarge} {
            h2 {
                font-size: 48px;
            }
    
        }
    }

    .subscription-body {
        margin: $mainMargin 0;
        @media #{$maxSmall} {
            padding-bottom: $mainPadding;
    
        }
        .subscription-form {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 450px;
            }
            @media #{$maxMobile} {
                img {
                    width: 100%;
                }
            }

        }
        a {
            display: inline-block;
            background-color: #FFEB3B;
            color: #000;
            font-size: 20px;
            font-weight: 700;
            padding: 10px 30px;
            margin-top: 40px;
            border-radius: 10px;
            @include prefixer(box-shadow, 0px 3px 10px #F5B400, webkit moz o ms);
            @include prefixer(transition, all 0.3s ease-in-out, webkit moz o ms);
            &:hover {
                color: #FFF;
            }
        }
    }

    .pages-controls {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .container {
            display: flex;
            justify-content: space-between;
        }
        a {
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            
            &.active {
                opacity: 0.3;
            }
            &.hover:after {
                content: '';
                position: absolute;
                bottom: -8px;
                right: -5px;
                width: 11px;
                height: 2px;
                background-color: #FFF;
                border-radius: 2px;
                margin-top: 10px;
            }
            &.premium {
                color: #FF9900;
            }
        }
    }
}