.subscription {
    .heading-page {
        margin-bottom: $smallMargin;
        margin-top: $smallMargin;
        display: flex;

        img {
            position: relative;
            top: 5px;
            transform: rotate(180deg);
            @media #{$maxSmall} {
                width: 20px;
                height: 20px;
        
            }
        }

        h2 {
            margin-right: auto;
            margin-left: auto;
        }

        @media #{$minLarge} {
            h2 {
                font-size: 48px;
            }
    
        }
    }

    nav {
        margin-top: 120px;
        a {
            display: inline-block;
            width: 100%;
            height: 55px;
            line-height: 45px;
            font-size: 23px;
            font-weight: 500;
            border: 1.5px solid $borderColor;
            border-radius: 5px;
            margin-bottom: 14px;
            @include prefixer(transition, all 0.3s ease-in-out, webkit moz o ms);
            &.active,
            &:hover {
                background-color: #000;
                color: #FFF;
                border-color: #000;
            }
        }
    }

    .subscription-body {
        margin: $mainMargin 0;
        @media #{$maxSmall} {
            padding-bottom: $mainPadding;
    
        }
        .subscription-form {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 450px;
            }
            @media #{$maxMobile} {
                img {
                    width: 100%;
                }
            }

        }
    }

    .pages-controls {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .container {
            display: flex;
            justify-content: space-between;
        }
        a {
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            
            &.active {
                opacity: 0.3;
            }
            &.hover:after {
                content: '';
                position: absolute;
                bottom: -8px;
                right: -5px;
                width: 11px;
                height: 2px;
                background-color: #FFF;
                border-radius: 2px;
                margin-top: 10px;
            }
            &.premium {
                color: #FF9900;
            }
        }
    }
}