// font 

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500;700&display=swap');

// global settings

@import './base/settings';
@import './base/base';
@import './utils/mixins';
@import "~bootstrap/scss/bootstrap";

// pages & components

@import './pages/home';
@import './pages/addAccount';
@import './pages/subscription';
@import './pages/blog';
@import './components/newsCard';
