// screens

$maxSmall: "(max-width: 767px)";
$minMedium: "(min-width: 768px)";
$maxMedium: "(max-width: 991px)";
$minLarge: "(min-width: 992px)";
$maxLarge: "(max-width: 1199px)";
$minXlarge: "(min-width: 1200px)";

// fonts

$tajawal: 'Tajawal', sans-serif;

// colors

$themeColor: #FFEB3B;

// border color

$borderColor: #707070;

// padding

$mainPadding: 90px;
$smallPadding: 45px;

// margin

$mainMargin: 90px;
$smallMargin: 45px;